body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #333;
    background: #faf7f2
}

header {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.hero {
    border: 0.2rem solid #e2c8a3;
    padding: 6rem 2rem;
    text-align: center;
    background-image: url("/images/sierra-bakehouse-hero2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0px 2px 10px rgba(0,0,0,0.6);
}

.logo {
    width: 10rem;
}

.announcement-banner {
    background-color: #f3d9b1;
    color: #5a3e1b;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #e2c8a3
}

.menu-section {
    padding: 40px 20px;
}

.menu-section h2 {
    font-size: 28px;
    margin-bottom:20px;
    color: #5a3e1b;
}

.menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 6px 12px;
    animation: fadeEffect 1s;
    opacity: 0;
    display: none;
}

.menu-item {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.tab {
    overflow: hidden;
    border: 2px solid #5a3e1b;
    background-color: #e2c8a3;
    text-align: center;
    border-radius: 1rem;
}

.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #5a3e1b;
    color: #e2c8a3;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab button:active {
    background-color: #fff;
}

.menu-grid.active {
    display: block;
    opacity: 1;
}

.notice {
    color: #5a3e1b;
    text-align: center;
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}